.bg-one {
    min-height: 74vh;
    background-image: -webkit-linear-gradient(75deg, #3a3a3a 50%, #ECECEC 50%);
}

.bg-two {
    min-height: 150vh;
    background-image: -webkit-linear-gradient(80deg, #BFBFBF 35%, #3a3a3a 35%);
}

