:root {
    --fontFamily: 'Montserrat', sans-serif;
    --secondaryFontFamily: 'Josefin Sans', sans-serif;
}

body,
html,
* {
    font-family: var(--fontFamily);
}

main {
    margin: 0 auto;
    max-width: 1920px;
}

.secondary-font-family {
    font-family: var(--secondaryFontFamily) !important;
}

.flex-center {
    @apply flex items-center justify-center !important;
}

.active {
    @apply text-red-600 underline !important;
}

.max-w-layout {
    @apply mx-auto max-w-screen-xl px-3;
}

.marquee-item {
    min-height: 100px;
}

@media (max-width: 1440px) {
    .marquee-item {
        min-height: 115px;
        height: max-content;
    }
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #999;
}
