:root {
    --fontFamily: 'Montserrat', sans-serif;
    --secondaryFontFamily: 'Josefin Sans', sans-serif;
}

body,
html,
* {
    font-family: var(--fontFamily);
}

main {
    margin: 0 auto;
    max-width: 1920px;
}

.secondary-font-family {
    font-family: var(--secondaryFontFamily) !important;
}

.flex-center {
    @apply flex items-center justify-center;
}

.active {
    @apply text-red-600 underline !important;
}

.max-w-layout {
    @apply mx-auto max-w-screen-xl;
}

.MuiSelect-select  {
    @apply p-0 flex items-center justify-center !important
}

.MuiOutlinedInput-notchedOutline {
    @apply border-0 !important
}

.MuiSelect-icon {
    @apply hidden !important;
}